---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Nicole's Portfolio</title>
	</head>
	<body>
		<h1 class="text-green-200 bg-black rounded-lg py-2 px-4">Astro</h1>
	</body>
</html>

<script>
	const title = document.querySelector(".title");
	console.log(title)
</script>